@import url(__item/photo-grid__item.css);

.photo-grid{
  display: grid;
  grid-template-rows: repeat(3, auto);
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
  margin: 0 auto 92px;
  max-width:1184px;
}

@media screen and (max-width: 1030px) {
  .photo-grid {
    grid-template-columns: repeat(3, auto);
    column-gap: 14px;
    row-gap: 14px;
  }
}
@media screen and (max-width: 780px) {
  .photo-grid {
    margin: 0 auto 88px;
    grid-template-columns: repeat(2, auto);
    column-gap: 16px;
    row-gap: 16px;
    padding-left: 24px;
    padding-right: 24px;
  }
}
@media screen and (max-width: 560px) {
  .photo-grid {
    margin: 0 auto 20px;
    grid-template-columns: auto;
    row-gap: 12px;
    margin-bottom: 64px;
    padding: 0 16px;
  }
}
