.footer__copyright {
  width: 282px;
  max-height: 13px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  text-align: right;
  color: #FFFFFF;
  margin: 0px 0px 0px 238px;

}


@media screen and (min-width: 1184px) {
  .footer__copyright {
      margin: 0;
  }
}
  
@media screen and (min-width: 1024px) {
  .footer__copyright {
      margin: 0 40px 0 0;
  }
}

@media screen and (min-width: 768px) {
  .footer__copyright {
      line-height: 114%;
      margin: 0 24px 0 0;
  }
}