.footer__copyright {
  width: 282px;
  max-height: 13px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  text-align: right;
  color: #FFFFFF;
}


@media screen and (min-width: 1184px) {
  .footer__copyright {
      margin: 0;
  }
}
  
@media screen and (min-width: 1024px) {
  .footer__copyright {
    margin: 0 40px 0 0;
  }
}

@media screen and (min-width: 768px) {
  .footer__copyright {
    line-height: 114%;
    margin: 0 24px 0 0;
    text-align: left;
  }
}

@media screen and (min-width: 750px) {
  .footer__copyright {
    text-align: left;
  }
}

@media (max-width: 686px) {
  .footer__copyright {
    line-height: calc(14 / 14);
    text-align: left;
    }
  }
