@import url(__image/place__image.css);
@import url(__link/place__link.css);
@import url(__paragraph/place__paragraph.css);
@import url(__title/place__title.css);
@import url(__url-heading/place__url-heading.css);
@import url(__website/place__website.css);

.place {
    color: #ffffff;
    width: 100%;
    margin-bottom: 80px;
    display: grid;
    grid-template-columns: 460px 1fr;
    grid-auto-rows: auto;
    grid-gap: 48px 40px;
    grid-template-areas:
        "title url-heading"
        "image paragraph";
}
        @media screen and (min-width: 1280px) {
    .place {
        grid-template-columns: minmax(460px, 1fr) minmax(484px, 1fr);
        column-gap: 40px;
        margin: 80px 148px 0;
    }
}

@media screen and (min-width: 1024px) {
    .place {
        grid-template-columns: minmax(440px, 1fr) minmax(456px, 1fr);
        column-gap: 32px;
        margin: 80px 48px 0;
    }
}

@media screen and (min-width: 785px) {
    .place {
        grid-template-columns: minmax(340px, 1fr) minmax(352px, 1fr);
        column-gap: 28px;
        row-gap: 48px;
        min-width: 720px;
        margin: 73px 24px 0;
    }
}

@media (max-width: 690px) {
    .place {
      display: block;
    }
  }
