.footer__list-item {
  margin-right: 18px;
}

@media screen and (max-width: 605px) {
  .footer__list-item {
    margin-right: 0;
    margin-bottom: 32px;
  }

  .footer__list-item:last-child {
    margin-bottom: 0px;
  }
}